body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: 100 auto;
  padding-top: 12px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.0em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

th, td {
  border: 1px solid grey;
}

.player-1-2 {
background: linear-gradient(to right bottom, #f2f057 50%, #ea8f23 50.3%);
}

.player-3-4 {
background: linear-gradient(to right bottom, #3aacb4 50%, #a7326d 50.3%);
}

.gem {
background: radial-gradient(circle, #e8e1f1 0%, #ceb5dc 60%, #a7799f 100%);
}

.relic {
background: radial-gradient(circle, #f1fefe 0%, #bbe1f6 60%, #78c6ec 100%);
}

.spell {
background: radial-gradient(circle, #fafaea 0%, #fcef92 70%, #fbd80f 100%);
}

.attack {
background: radial-gradient(circle, #f4e8f6 0%, #d7b4d4 60%, #b68fbb 100%);
}

.minion {
background: radial-gradient(circle, #cfe2e1 0%, #afd9db 40%, #98ceda 100%);
}

.power {
background: radial-gradient(circle, #fdfee5 0%, #fcf398 40%, #fde24a 100%);
}
